*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter_font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.logo_navbar img{
    width: 139px;
    height: 60px;
}

nav{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
    color: black;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
nav ul{
    display: flex;
    font-size: 16px;
    align-items: center;
    list-style: none;
    gap: 32px;
    text-align: center;
    text-decoration: none;

}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav ul li a:hover{
    color: green;
    font-weight: bold;
}
.button_design{
    padding: 12.5px 16px;
    background-color:#469165;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    
}
.button_design:hover{
    background-color: #34804E;
    cursor: pointer;
}
.header_content{
   
    background-image:linear-gradient(
      rgba(10, 20, 30, 0.75),
      rgba(10, 20, 30, 0.75)
    ), url(../Sections/header_background.png);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

}
.header_badge.inter_font{
    margin-top: 160px;
    margin-left: 650px;
    margin-bottom: 20px;
    display: inline-flex;
    background-color: white;
    color:  #469165;
    padding: 8px 12px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    gap: 5px;
}
.header_badge.inter_font:hover{
    color: #469165;
}
.header_texts{
color: white;
text-align: center;  
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0%;
text-transform: capitalize;
}
.color{
    color: rgba(48, 184, 104, 1);

}
.header_subtext{
    padding: 0px 400px;
    color: white;
    font-size: 18px;
    margin-top: 16px auto;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: normal;
   
    
}
.header_buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 32px;
    
}
.button_design1 img{
   width: 20px;
    height: 20px;   
}
.button_transparent img {

    width: 20px;
    height: 20px;
}
.button_design1{
      padding: 12px 16px;
      border-radius: 4px;
       justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    
    background-color:#469165;
    color: white;
    
    text-decoration: none;
    border: none;
    font-size: 16px;
}
.button_design1:hover
{
    background-color: #34804E;
    cursor: pointer;
}

.button_transparent {
    padding: 12px 16px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.button_transparent:hover{
    background-color: #34804E;
    color: black;
    font-weight: bold;
}
#card-section{
    width:71%;
    
}

#card-section .card-header h1 {
  text-align: center;
  font-size: 45px;
  margin: 0 auto;

  display: grid;
  place-items: center;
  padding-left: 375px;
  padding-top:50px;
}
#card-section .card-header p{
    padding-left:425px;
    padding-top: 5px;
    font-size: 14px;
   line-height: 20px;
   font-variant: normal;
   color: #757575;

}
.features-grid {
 
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: 100px; 
    box-shadow: 0 6px 50px 0 #00000011;
    max-width: 267px;
    gap:24px;
    
}

.feature-card {
  width: 71%;  
  max-width: 1140px;
  height: 300px;
  margin: 0 auto;
  border-radius: 12px;
  padding: 40px 25px;
  text-align: center;
  flex: 1;
  min-width: 250px;
  max-width: 280px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  transition: transform 0.2s ease;
  justify-content: center;
  /* border: 1px solid black; */
}
.features-grid .feature-card p {
    padding-top: 16px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
    margin: auto;
    
}
.features-grid .feature-card h3{
    padding-top: 16px;
}

.feature-card:hover {
  transform: translateY(-5px);
}
.icon-size {
  width: 56px;
  height: 56px;
 
 
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #ff4d4d; 
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  
   
}

.icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;

}


/* .features-grid .feature-card img {
  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 25px;
} */

/* .icon {
  font-size: 24px;
  color: white;
}

.feature-card h3 {
  color: var(--text-dark);
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 700;
}*/

.feature-card p {
  
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}
.smaller-div{
    padding: 120px;
    display: flex;
    gap: 60px;
}
.items  {
    margin: auto;
}
.items h6{
    color: #30B868;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;

}
.items h1{
    padding-top: 16px;
    text-transform: capitalize;
}
.items p {
    padding-top: 16px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
   color: #757575;
}
.items ul{
    padding-top: 40px;
    text-align: left;
    padding-left: 0px;
}
.items ul li{
    padding-bottom: 16px;
    text-decoration: none;
    list-style: none;
    display: flex;
    font-size: 16px;
    line-height: 20px;
    
}
#about{
    padding: 80px 120px;
}
#about .about-container {

    margin: 0px;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .section-heading p{
    color: #757575;
    margin: auto;
    padding-top:16px;

}
#about .about-container .list .page-item
{
   padding-top: 16px;
   color: #757575;
   font-size: 16px;

}
.footer {
    background: linear-gradient(180deg, #061726, #020b16);
    color: #bfc9d4;
    padding: 120px 120px 30px 120px;
}

/* Main content */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Logo */
.logo {
    width: 120px;
}

/* Social section */
.footer-right h4 {
    font-size: 16px;
    margin-bottom: 12px;
    color: #e5e9f0;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 22px;
    height: 22px;
    opacity: 0.85;
    transition: 0.3s;
}

.social-icons img:hover {
    opacity: 1;
    transform: scale(1.1);
}


.footer-bottom {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    color: #9aa7b4;
    
}













